* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
    
}

#topo {
    margin: 0px;
    background-color: rgb(46, 70, 114);
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    user-select: none;
    padding-top: 25px;
}

main {
    background-color: rgb(255, 228, 228);
    padding-left: 400px;
    padding-right: 400px;
}

.cabecalho {
    color: white;
    padding: 0px;
    list-style: none;
    float: left;
    align-items: center;
    margin-top: 20px;
}

.cabecalho li {
    background-color:rgb(179, 19, 54);
    padding: 12px 20px 12px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    float: left;

}

.cabecalho li:hover {
    background-color: rgb(209, 14, 57);
}

.logo {
    width: 152px;
    height: 66px;
}

.cabecalho .botao.selecionado {
    background-color: rgb(224, 15, 61);
}

a {
    color: white;
    text-decoration: none;
}

#s {
    width: 13px;
    height: 20px;
}

/*define o layout em 3 colunas */
#conteudo {
    background: rgb(255, 255, 255);
    margin-top: 60px;
}

#primaria {
    width: 270px;
    background: blue;
    float: left;
}

#secundaria {
    width: 270px;
    background: green;
    float: left;
}

#lateral {
    width: 180px;
    background: yellow;
    float: left;
}

#container-rodape {
    background: #294c71;
    padding: 20px;
    
}

#rodape {
    width: 750px;
    color: white;
    margin: 0 auto;
}